.container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 810px;
}

.btt-container {
  margin-top: 60px;
  display: flex;
  /* background-color: blue; */
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.btt {
  width: 480px;
  height: 110px;
  background: #fcff7b;
  border-radius: 20px;
  border: 0px;
  /* Feunte Letra */
  font-family: "Glory";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.Contenedor-Text1 {
  /*  background-color: aqua; */
  display: flex;
  align-items: center;
  width: 1550px;
  height: 28px;
  top: 450px;

  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 6px;
  text-transform: uppercase;

  /* Amarillo */
  color: #fcff7b;
}

.Contenedor-Text2 {
  width: 1556px;
  height: 200px;
  left: 265px;
  top: 488px;

  font-family: "Abhaya Libre";
  font-style: normal;
  font-size: 40px;
  line-height: 100px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.bar-container {
  width: 60px;
  height: 3px;
  background-color: #fcff7b;
  margin-right: 10px;
}
