.container-tabuladores {
  position: fixed;
  background-color: red;
  width: 83vw;
  height: 650px;
  left: 140px;
  top: 150px;
  background: #fcff7b;
  border-radius: 20px;
}

.tabuladores {
  /*  background-color: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  width: 100%;
}

.tab-menu {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: center;
  list-style: none;
  gap: auto;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.btt-tabs {
  width: 30%;
  height: 60px;
  margin-left: 1%;
  margin-right: 1%;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btt-tabs:hover {
  background-color: #ecc900;
}

.btt-tabs1 {
  width: 45%;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs2 {
  width: 45%;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs3 {
  width: 45%;
  height: 60px;

  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs4 {
  width: 45%;
  height: 60px;

  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs5 {
  width: 45%;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.text-info {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #1c260b;
}

.titulo-info {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;

  color: #1c260b;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.container-info {
  /* background-color: red; */
  width: 50%;
  height: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-info {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 60%;
  top: 20%;
}

/* responsive */

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 700px) {
  .btt-tabs {
    width: 20%;
    padding: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .tabuladores {
    width: 100%;
  }
  .btt-tabs {
    width: 20%;
    padding: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .container-tabuladores {
    width: 100%;
    margin: 0px;
    left: 0;
  }
}
