* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 150px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: 38px;
  list-style: none;
  gap: 100px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.Contactame {
  margin: 15px;
  width: 200px;
  height: 60px;
  background: #fcff7b;
  border: 0px;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Glory";
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  text-align: center;
}
