.container-team {
  display: flex;
  background-color: #fcff7b;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.container-TextTeam {
  margin: 1%;
  /* background-color: blue; */
  width: 600px;
  height: 200px;

  font-style: normal;
  font-weight: 50px;
  font-size: 20px;
  line-height: 25px;
}

.tamañoImg-Team {
  height: 400px;
}

.banner-Team {
  width: 100%;
  height: 315px;
  background-image: url("../../components/assets/BANNER.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.container-imgTeam {
  background-color: #fcff7b;
  width: 100%;
  height: 300px;
}

.tamaño-nuestrosValores {
  height: 240px;
  width: 300px;
}

.container-imgTeam {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 300px;
}

.container-team-nuestrosValores {
  display: flex;
  background-color: #fcff7b;
  width: 100%;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;

  /* font titulo */
  font-weight: 500px;
  font-size: 30px;
  line-height: 25px;
}

.container-imgText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tamaño-responsabilidad {
  width: 240px;
}
