.container-team, .container-team2 {
  display: flex;
  background-color: #fcff7b;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
  text-align: justify;
}

.container-TextTeam {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 600px;
  height: fit-content;
  gap: 30px;
  font-style: normal;
  font-weight: 50px;
  font-size: 20px;
  line-height: 25px;
}

.tamañoImg-Team {
  height: 350px;
}

.banner-Team {
  width: 100%;
  height: 315px;
  background-image: url("../../components/assets/BANNER.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.container-imgTeam {
  display: flex;
  justify-content: space-evenly;
  background-color: #fcff7b;
  width: 100%;
  height: 300px;
  padding-bottom: 50px;
}

.tamaño-nuestrosValores {
  height: 240px;
  width: 300px;
}

.container-team-nuestrosValores {
  display: flex;
  background-color: #fcff7b;
  width: 100%;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;

  /* font titulo */
  font-weight: 500px;
  font-size: 30px;
  line-height: 25px;
}

.container-imgText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tamaño-responsabilidad {
  width: 240px;
}

@media (width < 1300px) {

  .container-TextTeam {
    width: fit-content;
    padding: 20px;
  }

  .tamañoImg-Team {
    height: 300px;
  }

  .container-imgTeam {
    flex-wrap: wrap;
    height: fit-content;
  }
}

@media (width < 830px) {

  .container-team,.container-team2 {
    flex-wrap: wrap;
    padding: 30px;
  }

  .container-team2 {
    flex-direction: column-reverse;
  }

}