.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoRegistro {
  height: 190px;
}

.contenedorLogoRegistro {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgba(252, 255, 123, 0.4);
  width: 800px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(252, 255, 123, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-form {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 20px;
  padding: 0 20px;
  outline: none;
  background: none;
  /* z-index: 1; */
}

/* oculta el placeholder (a) */

::placeholder {
  color: transparent;
}

/* seccion Voluntario // Donardor */

.contenedor-checkbox1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-checkbox2 {
  display: flex;
  width: 400px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.checkbox-input {
  display: relative;
  margin-top: 5px;
  height: 25px;
  width: 25px;
}

.label-check {
  position: relative;
  top: -5px;
  font-size: 25px;
  padding: 0 20px;
  outline: none;
  background: none;
}

/* Estilo text labels */

.label {
  position: absolute;
  top: 6px;
  left: 15px;
  padding: 0 4px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 280px;
  padding: 15px 30px;
  border: none;
  background-color: #fcff7b;
  color: #000000;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #ffd900;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -20px;
  left: 3px;
  z-index: 10;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.input:focus {
  border: 2px solid #024600;
}

.input:not(:placeholder-shown) + .label {
  top: -20px;
  left: 3px;
  z-index: 10;
  font-size: 20px;
  font-weight: 600;
}

.contenedor-volverRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 19%;
  width: 500px;
}

.volver-registro {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}

/* responsive */

@media screen and (max-width: 768px) {
  .logoRegistro {
    width: 150px;
    height: 150px;
  }
  .form {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .logoRegistro {
    width: 100px;
    height: 100px;
  }

  .input {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .signupFrm {
    max-width: 800px;
  }
}
