.container-tabuladores {
  position: fixed;
  background-color: red;
  width: 83vw;
  height: 650px;
  left: 140px;
  top: 150px;
  background: #fcff7b;
  border-radius: 20px;
}

.tabuladores {
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
}

.tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 100px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.btt-tabs {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btt-tabs:hover {
  background-color: #ecc900;
}

.btt-tabs1 {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs2 {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs3 {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs4 {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.btt-tabs5 {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fcff7b;
}

.text-info {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #1c260b;
}

.titulo-info {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;

  color: #1c260b;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.container-info {
  /* background-color: red; */
  width: 50%;
  height: 80%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-info {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 60%;
  top: 20%;
}
