* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: url('images/Cars.jpg');
    background-size: 100vw auto;
    background-size:cover;
    background-position:center;
}

main{    
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
}

.contenedor1, .contenedor2, .contenedor3, .contenedor4, .contenedor5, .contenedor6{
 display: flex;
 width: 100%;
}

.contenedor1 {
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
   
}

.contenedor1 > article > img{
    width: 120px; 

}

.contenedor2{
    /* background-color: bisque; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor3 {
    /* background-color: rgb(196, 255, 211); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor4{
    /* background-color: rgb(14, 228, 199); */
    justify-content: center;
    align-items: center;
}

.contenedor5{
    /* background-color: rgb(82, 9, 82); */
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.contenedor6{
    /* background-color: rgb(240, 7, 7); */
    
}




body{
    display: grid;
    grid-template-rows: 60px 1fr 40px;
}

header{
    background: rgb(10, 56, 39);
}

footer{
    background: purple;
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-right: 20px;
}

.esquinaIzq{
    display: flex;
    color: #ffffff;
    font-size: 2rem;
    line-height: 60px;
    justify-content: start;
}

.btn{
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.button-ejemplo {
    background-color: #ffff;
    padding: 0 20px;
    height: 25px;
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    transition-timing-function: 0.5s;
}

.navbar > ul > li > a{
    text-decoration: none;
    padding: 20px;
    position: relative;
    color:#ffff;
}

@media screen and (max-width: 520px){
    .navbar { 
        display: none;
        /* background: red; */
    }
}

.imagen_Home{
    display: flex;
    justify-content: center;
}



.Texto_Home{
    display: flex;
    justify-content: center;
}



.Descripcion{
    display: flex;
    justify-content: center;
}



.btnAbout{
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.button-abotus{
    background-color: #ffff;
    padding: 0 20px;
    height: 50px;
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    transition-timing-function: 0.5s;
}


.contenido1{
    background: rgb(215, 231, 72);
    
    
}

.contenido2{
    background: rgb(255, 255, 255);
    
    
}

.contenido3{
    background: rgb(25, 0, 134);
    
    
}

.contenido4{
    background: rgb(0, 134, 18);
    
    
}


.contenido5{
    background: rgb(255, 255, 255);
    margin-left: 26%;
    width: 400px;
}

.contenido6{
    background: rgb(43, 187, 192);
    margin-left: 5%;
    width: 400px;
}