html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

main{
    /* background: blue; */
    background-image: url('/Assets/images/Fondo1.jpg');
}

body{
    display: grid;
    grid-template-rows: 50px 1fr 40px;
}

header{
    background: rgb(10, 56, 39);
}

footer{
    background: purple;
    display: flex;
    justify-content: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-right: 20px;
}

.navbar > ul > li > a{
    text-decoration: none;
    padding: 20px;
    position: relative;
    color:#ffff;
}

.btn{
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.button-ejemplo {
    background-color: #ffff;
    padding: 0 20px;
    height: 25px;
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    transition-timing-function: 0.5s;
}

.esquinaIzq{
    color: #ffffff;
    font-size: 180%;
    display: flex;
    justify-content: start;
    margin-top: -50px;

}

.contenedor1 {
    display: flex;
    background-color: aqua;
    margin-top: 5px;
    margin-left: 42%;
    height: 10%;
    width: 15%;
    justify-content: center;
}

.imagen_Home{
    display: flex;
    justify-content: center;
}

.contenedor2{
    background-color: bisque;
    height: 15%;
    width: 35%;
    margin-left: 32%;
}

.Texto_Home{
    display: flex;
    justify-content: center;
}

.contenedor3 {
    background-color: rgb(196, 255, 211);
    margin: 1%;
    height: 20%;
    width: 41%;
    margin-left: 29%;
}

.Descripcion{
    display: flex;
    justify-content: center;
}

.contenedor4{
    background-color: rgb(14, 228, 199);
    margin: 1%;
    height: 7%;
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: 850px;
}

.btnAbout{
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.button-abotus{
    background-color: #ffff;
    padding: 0 20px;
    height: 50px;
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    transition-timing-function: 0.5s;
}

.contedor5{
    background-color: rgb(82, 9, 82);
    margin: 1%;
    height: 16%;
    display: flex;
}

.contenido1{
    background: rgb(215, 231, 72);
    margin-left: 16%;
    width: 250px;
}

.contenido2{
    background: rgb(255, 255, 255);
    margin-left: 5%;
    width: 250px;
}

.contenido3{
    background: rgb(25, 0, 134);
    margin-left: 5%;
    width: 250px;
}

.contenido4{
    background: rgb(0, 134, 18);
    margin-left: 5%;
    width: 250px;
}

.contenedor6{
    background-color: rgb(240, 7, 7);
    margin: 1%;
    height: 18%;
    display: flex;
}

.contenido5{
    background: rgb(255, 255, 255);
    margin-left: 26%;
    width: 400px;
}

.contenido6{
    background: rgb(43, 187, 192);
    margin-left: 5%;
    width: 400px;
}