.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 88vh;
}

.btt-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.btt {
  width: 480px;
  height: 110px;
  background: #fcff7b;
  border-radius: 20px;
  border: 0px;
  font-family: "Glory";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  transition: 0.3s;
  cursor: pointer;
}

.btt:hover {
  background-color: #70f74f;
}

.bar-container {
  width: 60px;
  height: 5px;
  background-color: #fcff7b;
  margin-right: 10px;
}

.contenedor-Text1 {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-right: 30%;
  margin-left: 5%;
  color: #fcff7b;
}

.contenedor-Text2 {
  width: 80%;
  height: auto;
  font-family: "Abhaya Libre";
  font-style: normal;
  font-size: 40px;
  line-height: 100px;
  display: flex;
  align-items: center;
  color: #ffffff;
}



.container-home2 {
  /* HOME */
  display: flex;
  align-items: center;
  position: relative;
  background: #2a3911;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
}

.contenedor-Textos {
  height: 500px;
  width: 700px;
  margin-left: 200px;
}

.contenedor-Textos p {
  /* En Raíces Solidarias, nos comprometemos fervientemente con la restauración de los bosques nativos en Chile. A través de nuestra plataforma, puedes contribuir de manera cercana y cómoda a la reforestación. Además, encontrarás información de calidad para que descubras la belleza y la diversidad de la flora y fauna autóctona de Chile. ¡Recuerda que cada árbol que plantamos representa una esperanza para un mañana más verde y sostenible! */

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}
.contenedor-Textos h2 {
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  color: #ffffff;
}

.contenedor-TextosBlack {
  height: 500px;
  width: 700px;
  margin-left: auto;
}

.contenedor-TextosBlack h2{
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  color: #000000;
}

.contenedor-TextosBlack p{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}



.tamañoImagen {
  width:870px;
  height: auto;
}

.container-home3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  left: 0px;
  background: #fcff7b;
}

.container-home4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #2a3911;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.textHrefBlack{
  text-decoration: none;
  color: #2a3911;
  font-size: 20px;
  margin-top: 2%;
}

.textHref{
  text-decoration: none;
  color: #fcff7b;
  font-size: 20px;
  margin-top: 2%;
}


/* responsive */

/* Estilos para pantallas muy pequeñas, como smartphones en orientación vertical */
@media screen and (max-width: 480px) {
  .container-home2, .container-home3, .container-home4 {
    justify-content: center;
    text-align: center;
  }
  .contenedor-TextosBlack {
    margin-left: 0;
  }
  .contenedor-Text2 h1 {
    font-size: 20px;
    line-height: 1.1; /
  }
  .btt{
    scale: 80%;
    justify-content: center;
    align-items: center;
  }
  .tamañoImagen{
    width: 400px!important;
   }
}

@media screen and (max-width: 768px) {
    
  .contenedor-Text1{
    margin: 25px;
    
  }
  .bar-container{
    display: none;
  }

  .contenedor-Text1 p {
    font-size: 2px;
  }

  .contenedor-Text2 h1 {
    font-size: 18px;
    line-height: 1.2; 
  }

  .btt-container {
    flex-direction: column;
    align-items: center;
  }
  .btt{
    width: 80%;
  }
}


@media screen and (max-width: 900px) {
  .contenedor-Text1{
    width: auto;
  }

  .contenedor-Text1 p {
    font-size: 13px;
  }

  .bar-container{
    width: 15px;
    height: 2px;
  }

  .contenedor-Text2 h1 {
    font-size: 30px; 
  }
  .contenedor-Textos{
    width: 100%;
    height: 30%;
  }
  .contenedor-TextosBlack{
    width: 100%;
    height: 60%;
    margin: auto;
  }
  .tamañoImagen{
    width: 550px;
   }
   .btt{
    width: 350px;
    font-size: 20px;
   }
}

/* Estilos para pantallas grandes */
@media screen and (max-width: 1400px) {
  .contenedor-Text1 {
    font-size: 20px;
  }

  .contenedor-Text2 {
    font-size: 20px;
    width: 80%;
  }
  .contenedor-Textos h2{
    font-size: 25px;
  }
  .container-home2{
    flex-wrap: wrap;
  }
  .tamañoImagen{
    width: 450px;
   }
   .contenedor-Textos{
    width: 95%;
    height: 30%;
    
  }
  .contenedor-TextosBlack{
    width: 95%;
    height: 60%;
    margin: auto;
  }
}


@media screen and (max-width: 1800px){
  .contenedor-Textos{
    margin-left: 20px;
  }
  .tamañoImagen{
    width: 550px;
   }
  .contenedor-Textos h2{
    font-size: 30px;
  }
 }

