.container-actividades {
  display: flex;
  height: 80vh;
  width: 100vw;
  /* background-color: brown; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card-actividades {
  display: flex;
  height: 20vh;
  width: 60vw;
  background-color: aliceblue;
  background: rgba(252, 255, 123, 0.8);
  border-radius: 0px 20px 20px 0px;
}

.imgActividades {
  height: 100%;
}

.container-textActividades {
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  color: #2a3911;
}

@media screen and (max-width: 400px) {
  .card-actividades {
    height: 400px;
    width: 200px;
  }
  .imgActividades {
    display: none;
  }
  .container-textActividades {
    align-content: center;
  }
}

@media screen and (max-width: 650px) {
  .card-actividades {
    height: 22vh;
    width: 100vw;
  }
  .imgActividades {
    height: 70px;
  }
  .container-textActividades {
    align-content: center;
  }
}

@media screen and (max-width: 850px) {
  .card-actividades {
    height: 22vh;
    width: 100vw;
  }
  .imgActividades {
    height: 120px;
  }
}
