.container-team {
  display: flex;
  background-color: #fcff7b;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.container-TextTeam {
  margin: 1%;
  /* background-color: blue; */
  width: 600px;
  height: 200px;

  font-style: normal;
  font-weight: 50px;
  font-size: 20px;
  line-height: 25px;
}

.tamañoImg-Team {
  height: 400px;
}
