.donar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center space-around;
  height: auto;
}

.card-Donar {
  position: relative; /* quitar en caso de bug */
  display: flex;
  background-color: blue;
  width: 300px;
  height: 120px;
  margin: 25px;
  padding: 15px;
  background: rgba(42, 57, 17, 0.6);
}

.tamañoImgDonar {
  height: 95px;
}

.informacion-Donar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fcff7b;
}

/* BTT DONAR */
@keyframes slideIn {
  0% {
    left: -100%; /* Comienza fuera de la vista */
    opacity: 0; /* Inicialmente transparente */
  }
  100% {
    left: 50%; /* Despliegue completo al centro */
    opacity: 1; /* Opacidad completa */
  }
}

.donar-button {
  position: absolute;
  left: -1%; /* Posición inicial fuera de la vista */
  transform: translateX(-50%); /* Centra horizontalmente */
  width: 80%;
  height: 80%;
  background-color: #fcff7b;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0; /* Inicialmente transparente */
  transition: left 0.6s ease, opacity 0.6s ease; /* Transición suave de la posición y la opacidad */
}

.card-Donar:hover .donar-button {
  left: 50%; /* Despliega el botón al centro */
  opacity: 1; /* Hace el botón visible al hacer hover */
}
@media screen and (max-width: 768px) {
  .card-Donar {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .card-Donar {
    width: calc(100% - 20px);
  }
}
